@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Users</h2>
<div class="row">
    <div class="col-md-12">
        <select id="listbox_users" name="listbox_users" size="6" style="width: 100%;">
            @foreach (var user in Model.UserModels)
            {
                <option value="@user.Id" groups="@(string.Join(",", user.GroupIds.Select(g => g.ToString())))">@($"{user.AgencyName} {user.Name}")</option>
            }
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="list_checkbox">
            <h2>Groups</h2>
            <ul>
                @foreach (var group in Model.Groups)
                {
                    <li><input type="checkbox" id="checkbox_group_@group.Id" groupId="@group.Id"> @group.Name</li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success pull-right" id="button_save">Save</button>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $('#listbox_users').change(e => {
                resetGroups();

                const groupIds = e.target.options[e.target.selectedIndex].getAttribute('groups').split(',');

                groupIds.forEach((id) => {
                    $('#checkbox_group_' + id)[0].checked = true;
                });
            });

            $('#button_save').click(e => {
                const groupIds = $('#list_checkbox input:checkbox:checked').map((index, e) => $(e).attr('groupId')).toArray();
                const userId = $('#listbox_users').val();

                $.ajax({
                        url: '/api/User/Groups',
                        method: 'POST',
                        data: JSON.stringify({ userId: userId, groupIds: groupIds }),
                        contentType: 'application/json'
                    })
                    .done(function(data) {
                        window.location.reload();
                    })
                    .fail(function(error) {
                        alert(error);
                    });
            });
        });

        function resetGroups() {
            $('#list_checkbox input:checkbox').each((index, e) => {
                e.checked = false;
            });
        }
    </script>
}
